.app-root {
  display: flex;
  flex-direction: column;

  .app-header {
    font-size: 3em;
  }

  .user-list-table-container {
    width: 70%;
    margin: auto;

    table {
      width: 100%;
      vertical-align: middle;
    }

    thead {
      cursor: pointer;

      td {
        text-align: center;
        font-weight: bold;
      }
    }

    .active-user-highlighted {
      background-color: skyblue;
      font-weight: bold;
    }
  }

  .user-list-form-root {
      margin: 1em;

      span {
          margin-left: 1em;
      }
  }

}