.app-root {
  display: flex;
  flex-direction: column;

  .user-list-table {
    margin: 2em;
    width: 70%;
    border-collapse: collapse;
    vertical-align: middle;


    thead {
      td {
        text-align: center;
        font-weight: bold;
      }
    }

    td {
      border: 1px solid black;
    }
  }
}